::deep .navigation-drawer {
    --dxbl-drawer-panel-footer-justify-content: center;
    min-height: 100vh;
    height: auto;
    max-height: none;
}

::deep .panel-open .menu-button {
    display: inline-flex;
}
