@using Microsoft.AspNetCore.Mvc.ViewFeatures
@inject IFileVersionProvider FileVersionProvider

<!DOCTYPE html>
<html lang="en" class="theme-@GetThemeName()">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <script>
        try {
            const savedTheme = localStorage.getItem("theme");
            if (savedTheme) document.documentElement.className = "theme-" + savedTheme;
        } catch { }
    </script>
    <link href=@AppendVersion(GetThemeUrl()) rel="stylesheet" id="theme-link" />
    @DxResourceManager.RegisterScripts()
    <link rel="stylesheet" href="_content/ST1Savall.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/ST1Savall.Shared/app.css" />
    <link href=@AppendVersion("_content/ST1Savall.Shared/css/site.css") rel="stylesheet" />
    <link href=@AppendVersion("_content/ST1Savall.Shared/ST1Savall.Shared.styles.css") rel="stylesheet" />
    <link rel="stylesheet" href="ST1Savall.Web.styles.css" />
    <link rel="icon" type="image/png" href="_content/ST1Savall.Shared/favicon.png" />
    <link href=@AppendVersion("_content/DevExpress.Blazor.RichEdit/dx-blazor-richedit.css") rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="_content/ST1Savall.Shared/js/theme.js"></script>
    <script src="_content/ST1Savall.Shared/js/map.js"></script>
</body>

</html>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string AppendVersion(string path) => FileVersionProvider.AddFileVersionToPath("/", path);

    private string GetThemeName()
    {
        string themeName = "blazing-berry";
        if (HttpContext?.Request.Cookies.TryGetValue("theme", out var cookieValue) == true && !string.IsNullOrEmpty(cookieValue))
        {
            themeName = cookieValue;
        }
        return themeName;
    }

    private string GetThemeUrl()
    {
        return $"_content/DevExpress.Blazor.Themes/{GetThemeName()}.bs5.min.css";
    }
}
